doctype html
html(lang="en")
  head
    include partials/page/head.pug
	
  body.classname
    div.container
      include partials/page/header.pug
        h1 Marco Castro #{title}
        p This is the first paragraph 
        img(src="http://i.telegraph.co.uk/multimedia/archive/03570/potd-grass_3570487k.jpg")
        p this is another         
        p one
        p two
        .container
          .row
            p This is a file


include partials/page/footer.pug
include partials/page/jsdefaults.pug

     


   

	
                                

    
                        			
